@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.links {
    font-weight: bold;
}

header {
    margin-left: 320px;
    margin-right: 320px;
    font-size: 18px;
}

main {
    margin-left: 320px;
    margin-right: 320px;
    margin-top: 30px;
}

.blue {
    color: #548EFF;
    text-decoration: none;
}

.discord {
    color: #5B127D;
    text-decoration: none;
}

.github {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.demn-name {
    font-size: 22px;
    font-weight: bold;
    color: #303030;
}

.bolder {
    font-weight: bolder;
}

.about {
    color:#303030;
}

.blue-button-container {
    margin-left: 0px;

    width: 35px;
    height: 21px;
    background: #0094FF;
    border-radius: 20px;

    text-align: center;
    vertical-align: middle;

    text-decoration: none;
}

.blue-button-container-2 {
    margin-left: 0px;

    width: 60px;
    height: 21px;
    background: #0094FF;
    border-radius: 20px;

    text-align: center;
    vertical-align: middle;

    text-decoration: none;
}

.blue-button-container:hover {
    background: #224466;
}

.blue-button-container-2:hover {
    background: #224466;
}

.blue-button-text {
    margin-top: auto;
    margin-bottom: auto;
    font-weight: bold;
    font-size: 11px;
    color: #FFFFFF;
}

.gray-button {
    width: 98px;
    height: 28px;
    text-align: center;
    vertical-align: middle;
    background: #C4C4C4;
    border-radius: 7px;
}

.text-gray-button {
    font-weight: bold;
    font-size: 14px;
    color: #FFFFFF;
    display: inline-block;
}

.miniblog-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.miniblog {
    margin: 0;
    margin-right: 10px;
    font-size: x-large;
    font-weight: bold;
}
.tgch-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.tgch {
    margin: 0;
    margin-right: 10px;
    font-size: x-large;
    font-weight: bold;
}
.lastpost {
    font-size: 12px;
    color: #303030;
}
.lasttgpost {
    font-size: 12px;
    color: #303030;
}

@media (max-device-width:1050px){
    header {
        margin-left: 0px;
        margin-right: 0px;
        font-size: 18px;
    }
    
    main {
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 30px;
    }
}